body {
  // numbers
  // background-image: url('https://user-images.githubusercontent.com/26231241/26910974-63ae9c44-4bd8-11e7-8dc5-17149bee2bed.jpeg');
  // quantum light
  // background-image: url('https://user-images.githubusercontent.com/26231241/26910976-6bb1f76a-4bd8-11e7-9f7e-48aec780ea50.jpg');

  // neon numbers
  // background-image: url('https://user-images.githubusercontent.com/26231241/26911184-aeaa8338-4bd9-11e7-8941-5c9096472d78.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // color: $white;
}

th {
  text-align: center;
}
