<h2>Research Items</h2>
{{researches/research-add-button}}
{{researches/research-create-modal createResearch="createResearch"}}
{{researches/research-table researches=model researchDelete="researchDelete"}}
